body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #2a2253;
}

#fixJumbotron {
  height: 40px;
}

.jumbotron {
  background-color: #f8e2cd;

}

p, h1 {
  opacity: 1.0;
  text-align: center;
}

.jumbotron p {
  font-weight: 400;
}

.bg-primary {
  border-radius: 3px;
}

blockquote#winsBloclquote.card-blockquote {
  border: 2px;
  border-style: solid;
  border-color: #2eac94;
  border-radius: 3px;
  color: #f8e2cd;
}

blockquote#lossesBloclquote.card-blockquote {
  border: 2px;
  border-style: solid;
  border-color: #df5616;
  border-radius: 3px;
  color: #f8e2cd;
}

blockquote.card-blockquote.numbers {
  border-left: 0px;
}

blockquote .small, blockquote footer, blockquote small {
  color: #f8e2cd;
}

button {
  background-color: inherit;
}

img {
  width: 20%;
}

#separateSmallButtons {
  height: 20px;
}

#fixFooter {
  height: 40px;

}

footer.footer {
  height: 40px;
  background-color: #f8e2cd;
  text-align: center;
  border-radius: 3px;
}

#footerP {
  padding: 10px;
}
